<form action="/testing/testDoUpload" method="POST" enctype="multipart/form-data">
	<input type="file" name="archivo" value="">
	<input type="hidden" name="token" value="<?= $_SESSION['token'] ?>">
	<br><br>
	<input type="submit" value="Subir">
</form>