<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<h3>Framework MVC</h3>
	
	<?php renderView($aParams, $xssClean); ?>

	<div>
		<p>Footer</p>
	</div>
</body>
</html>